<% title 'Scouts Porto Salvo Admin' %>
<% breadcrumbs ({'Home' => admin_path}) %>

<%= link_to people_path, class: 'text-center admin-model-button' do %>
  <span>
    <%= fa_icon'users 2x' %><br>
    Pessoas
  </span>
<% end %>
