<div class="content">
	<div class="row">
		<div class="columns">
			<h1><%= title "Painel de Administrador" %></h1>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<%= render 'admin_menu' %>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<%= render 'posts/small_post' %>
      <hr>
      <h3>Editar</h3>
      <%= render 'posts/form' %>
		</div>
	</div>
</div>
