<% title @section.name %>

<% content_for :back_link do %>
  <%= sections_path %>
<% end %>

<% if can? :update, @section %>
  <%= render partial: 'pages/page_action', locals: { link: edit_section_path(@section), icon: 'pencil' } %>
<% end %>

<div class='card card-3'>
  <div class='card-content'>
    <%= safe_markdown @section.description %>
  </div>
</div>
<%= link_to 'Nova Equipa', new_section_team_path(@section) %>
