<% title "Editar #{@photo_album.name}" %>

<% content_for :back_link do %>
  <%= photo_album_path @photo_album %>
<% end %>

<%= form_for @photo_album, action: :new_photo,
  url: {action: 'newphoto'},
  html: {id: 'newphoto',
         class: 'dropzone'
        } do |f|
%>
<% end %>

<%= render 'form' %>

<script>
  Dropzone.options.newphoto = {
    paramName: "file", // The name that will be used to transfer the file
    maxFilesize: 10, // MB
    parallelUpload: 1,
    accept: function(file, done) {
      if (file.name == "justinbieber.jpg") {
      done("Naha, you don't.");
    }
      else { done(); }
    }
  };
  $(document).on("ready page:load", Dropzone.discover)
</script>

<% if @photo_album.photos.length > 0 %>
  <h2>Eliminar fotografias</h2>
  <div class="photo-album">
    <% @photo_album.photos.each do |photo| %>
      <%= link_to image_tag(photo.file.url(:medium)), photo, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
