<% title 'Fotografias' %>
<%= render partial: 'pages/page_action', locals: { link: new_photo_album_path, icon: 'plus' } %>
<ul>
  <% @photo_albums.each do |photo_album| %>
    <li><%= link_to photo_album.name, photo_album %></li>
  <% end %>
</ul>
