<h1>
  <%= title 'Fotografias' %>
  <small>
    <%= link_to 'Novo album', new_photo_album_path %>
  </small>
</h1>
<ul>
  <% @photo_albums.each do |photo_album| %>
    <li><%= link_to photo_album.name, photo_album %></li>
  <% end %>
</ul>
