<script type="text/x-handlebars-template" id="waterfall-tpl">
  {{#result}}
    <div class="item">
      <img src="{{image}}" width="{{width}}" height="{{height}}" />
    </div>
  {{/result}}
</script>
