<div class="columns">
	<div class="boxed">
		<h1 class="title2">História</h1>
		<p><strong>Travel Portal</strong> is a free template from <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. The header photo is from <a href="http://www.pdphoto.org/">PDPhoto.org</a>. You're free to use it for both commercial or personal use. I only ask that you link back to my site in some way. <em>Enjoy :)</em></p>
		<h3>Curabitur Sem Urna</h3>
		<p>Vel consequat, suscipit in, mattis placerat, nulla. Sed ac leo. Pellentesque imperdie:</p>
		<blockquote>
			<p>&ldquo;In posuere eleifend odio quisque semper augue mattis wisi maecenas ligula.Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.&rdquo;</p>
		</blockquote>
	</div>
	<div class="boxed orange">
		<div class="col-one">
			<h2 class="title3">Lorem Ipsum Dolorem</h2>
			<ul>
				<li><a href="#">Semper vestibulum</a></li>
				<li><a href="#">Vestibulum luctus</a></li>
				<li><a href="#">Integer rutrum</a></li>
				<li><a href="#">Etiam malesuada</a></li>
				<li><a href="#">Elementum facilisis</a></li>
				<li><a href="#">Ut tincidunt</a></li>
				<li><a href="#">Odio sagittis</a></li>
			</ul>
		</div>
		<div class="col-two">
			<h2 class="title3">Lorem Ipsum Dolorem</h2>
			<ul>
				<li><a href="#">Semper vestibulum</a></li>
				<li><a href="#">Vestibulum luctus</a></li>
				<li><a href="#">Integer rutrum</a></li>
				<li><a href="#">Etiam malesuada</a></li>
				<li><a href="#">Elementum facilisis</a></li>
				<li><a href="#">Ut tincidunt</a></li>
				<li><a href="#">Odio sagittis</a></li>
			</ul>
		</div>
		<div style="clear: both;">&nbsp;</div>
	</div>
</div>
