<header>
	<div id="header-img" class="columns">
	</div>
</header>
<div id="content" class="content">
	<div class="row">
		<div class="columns">
			<% @posts.each do |post| %>
				<h2><%= post.title %></h2>
				<%= simple_format post.markdown_to_html(@markdown) %>
				<small><%= "#{post.created_at.strftime('%-d/%m/%y')}" %></small>
			<% end %>
		</div>
	</div>
	<!--
	<div class="row">
		<div class="columns boxed">
			<div class="columns medium-6">
				<div class="panel">
					<h4 class="title3">Lorem Ipsum Dolorem</h4>
					<ul>
						<li><a href="#">Semper vestibulum</a></li>
						<li><a href="#">Vestibulum luctus</a></li>
						<li><a href="#">Integer rutrum</a></li>
						<li><a href="#">Etiam malesuada</a></li>
						<li><a href="#">Elementum facilisis</a></li>
						<li><a href="#">Ut tincidunt</a></li>
						<li><a href="#">Odio sagittis</a></li>
					</ul>
				</div>
			</div>
			<div class="columns medium-6">
				<div class="panel">
					<h4 class="title3">Lorem Ipsum Dolorem</h4>
					<ul>
						<li><a href="#">Semper vestibulum</a></li>
						<li><a href="#">Vestibulum luctus</a></li>
						<li><a href="#">Integer rutrum</a></li>
						<li><a href="#">Etiam malesuada</a></li>
						<li><a href="#">Elementum facilisis</a></li>
						<li><a href="#">Ut20:41 04/08/2015 tincidunt</a></li>
						<li><a href="#">Odio sagittis</a></li>
					</ul>
				</div>
			</div>
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
	-->
</div>

