<header id="homepage-header">
  <div id="header-img" class="columns">
  </div>
</header>

<div id="content" class="content">
  <div class="row">
    <div class="columns">
      <div class="row">
      <% @posts.each do |post| %>
        <% if post.eql? @posts.first %>
          <div class="columns">
        <% else %>
          <div class="columns medium-6">
        <% end %>
            <div class="card card-2">
              <div class="card-content">
                <h2><%= link_to post.title, post %></h2>
                <p><%= truncate strip_tags( safe_markdown(post.body) ), length: 100 %></p>
                <small><%= "#{post.created_at.strftime('%-d/%m/%y')}" %></small>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

