<div id="content">
	<div class="columns">
		<h1 class="title2">Bem-vindo à página do Agrupamento de Porto Salvo,</h1>
		<p class="introducao">Este site pretende transmitir um pouco do que significa pertencer ao mundo escutista e em particular a este Agrupamento. Através desta plataforma é possível acompanhar o percurso escutista de cada um dos nossos elementos, acedendo a fotos das atividades realizadas e informações acerca doutras que se sigam. Tem também o objetivo de promover a adesão a este grupo, de maneira a crescermos e garantirmos a sua continuidade.</p>
		<p class="calendar"><iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=300&amp;wkst=2&amp;hl=pt_PT&amp;bgcolor=%23ffffff&amp;src=7hhlo6k97fmmjhlp9tijh6f84k%40group.calendar.google.com&amp;color=%23711616&amp;ctz=Europe%2FLisbon" style=" border-width:0 " width="300" height="300" frameborder="0" scrolling="no"></iframe></p>
	</div>
	<div class="boxed orange">
		<div class="columns medium-6">
			<h2 class="title3">Lorem Ipsum Dolorem</h2>
			<ul>
				<li><a href="#">Semper vestibulum</a></li>
				<li><a href="#">Vestibulum luctus</a></li>
				<li><a href="#">Integer rutrum</a></li>
				<li><a href="#">Etiam malesuada</a></li>
				<li><a href="#">Elementum facilisis</a></li>
				<li><a href="#">Ut tincidunt</a></li>
				<li><a href="#">Odio sagittis</a></li>
			</ul>
		</div>
		<div class="columns medium-6">
			<h2 class="title3">Lorem Ipsum Dolorem</h2>
			<ul>
				<li><a href="#">Semper vestibulum</a></li>
				<li><a href="#">Vestibulum luctus</a></li>
				<li><a href="#">Integer rutrum</a></li>
				<li><a href="#">Etiam malesuada</a></li>
				<li><a href="#">Elementum facilisis</a></li>
				<li><a href="#">Ut20:41 04/08/2015 tincidunt</a></li>
				<li><a href="#">Odio sagittis</a></li>
			</ul>
		</div>
		<div style="clear: both;">&nbsp;</div>
	</div>
</div>

