<header id="homepage-header">
  <div id="header-img" class="columns">
  </div>
</header>

<div id="content" class="content">
  <div class="row">
    <div class="columns">
      <% @posts.each do |post| %>
        <div class="card card-2">
          <div class="card-content">
            <h2><%= post.title %></h2>
            <%= truncate strip_tags( safe_markdown(post.body) ), length: 100 %>
            <small><%= "#{post.created_at.strftime('%-d/%m/%y')}" %></small>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

