<header>
	<div id="header-img" class="columns">
	</div>
</header>
<div id="content" class="content">
	<div class="row">
		<div class="columns">
			<% @posts.each do |post| %>
        <div class="panel radius">
          <h2><%= link_to post.title, post %></h2>
          <small><%= "#{post.created_at.strftime('%-d/%m/%y')}" %></small>
          <hr>
          <%= safe_markdown(post.body) %>
        </div>
			<% end %>
		</div>
	</div>
</div>

