
.button-group {
  .button {
    background: transparent;

    &:hover {
      background: rgba($black, 0.3);
    }
  }

  &.menu {
    background: $main-color-light;

    a.active {
      color: $highlight-color;
      font-weight: bold;
    }
  }

  &.expanded {
   .button {
      width: 100%;
    }
  }
}
