#sidebar {
  width: $sidebar-width;
  background: $main-color-dark;

  a {
    color: $main-color-light;

    &.active {
      background: $silver;
      color: $main-color-dark;
    }
  }

  svg {
    padding: 1rem;
    width: 100%;
    height: auto;
    fill: $main-color-light;
  }
}
