<% title 'Acesso negado' %>
<div class="card card-3">
  <div class="card-content">
    <p>
      Desculpa mas não tens permissão para aceder a esta página
    </p>
    <p>
      Se achas que isto é um erro contacta o administrador de sistema
    </p>
    <p>
      <%= mail_to 'webmaster.1126@escutismo.pt' %>
    </p>
  </div>
</div>
