.c, .r {
  display: flex;
  max-width: 1080px;
}

.c {
  flex-direction: column;
}

.fg {
  flex-grow: 1;
}

.fjc {
  justify-content: center;
}

.fjsb {
  justify-content: space-between;
}

.fas {
  align-items: stretch;
}

.fac {
  align-items: center;
}

.fns {
  flex-shrink: 0;
}

.scroll {
  overflow: auto;
}

.fmc {
  margin: auto;
}
