// MATERIAL //
$lime-300: #DCE775;
$lime: #CDDC39;
$lime-700: #AFB42B;

$purple: #9C27B0;
$purple-a400: #D500F9;

// Dark Green
$turquoise: #1abc9c;
$green_sea: #16a085;

// Green
$emerald: #2ecc71;
$nepheritis: #27ae60;
$nepheritis_transparent: rgba(39, 174, 96, 0.4);

// Purple
$amethyst: #9b59b6;
$wisteria: #8e44ad;

// Dark Blue
$midnight_blue: #2c3e50;
$wet_asphalt: #34495e;

// Blue
$belize_hole: #2980b9;
$peter_river: #3498db;
$peter_river_transparent: rgba(52, 152, 219, 0.4);

// Light Grey
$silver: #bdc3c7;
$clouds: #ecf0f1;

// Dark Grey
$asbestos: #7f8c8d;
$concrete: #95a5a6;

// Red
$pomegranate: #c0392b;
$alizarin: #e74c3c;
$alizarin_transparent: rgba(231, 76, 60, 0.4);

// Orange
$pumpkin: #d35400;
$carrot: #e67e22;

// Yellow
$orange: #f39c12;
$sun_flower: #f1c40f;
$sun_flower_transparent: rgba(241, 196, 15, 0.4);
