@import "foundation_and_overrides";

.center-img-parent {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

	.center-img {
		@media #{$medium-up} {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

header {
	background-color: $amethyst;
	padding: rem-calc(70) 0;

	#header-img {
	}
}
