header#header {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    color: $main-color-dark;
  }

  h2 {
    color: $main-color-dark;
  }

}
