@import 'foundation_and_overrides';

#page {
  background-color: $snow;
}
.content {
  @media #{$medium-up} {
    padding: rem-calc(50) rem-calc(75);
    padding-top: rem-calc(30);
  }
  @media #{$small-only} {
    padding: rem-calc(20) rem-calc(10);
    padding-top: rem-calc(13);
  }
}

form {
  input[type="email"],
  input[type="password"],
  input[type="date"],
  .day, .month, .year,
  .hour, .minute,
  input[type="text"] {
    background-color: $white;
    box-shadow: none;
    padding: 10px;
    border: none;
    border-bottom: solid 2px $silver;

    &:focus, &.focus {
      border-bottom: solid 2px $primary_color;
      background-color: $white;
    }
  }
  input[type="submit"] {
    @extend .button;
  }
  input.input-title {
    font-size: 2.5rem;
    height: 3.2rem;
  }
  .day {
    width: 10%;
  }
  .month {
    width: 20%;
  }
  .year {
    width: 15%;
  }
  .hour {
    width: 15%;
  }
  .minute {
    width: 15%;
  }
}
