@import 'foundation_and_overrides';

#page {
	background-color: $clouds;
}
.content {
	@media #{$medium-up} {
		padding: rem-calc(50) rem-calc(75) !important;
	}
	@media #{$small-only} {
		padding: rem-calc(20) 0 !important;
	}

}
