#notice {
  position: absolute;
  width: 100%;
  top: 4rem;
  right: 0;
  left: 0;

  .alert-box {
    max-width: rem-calc(400);
    margin: auto;
    height: 4rem;
    z-index: 400;
  }
}

header#homepage-header {
  background-color: $white;
  @include breakpoint(small only) {
    @include breakpoint(portrait) {
      padding: em-calc(30) 0;
      height: em-calc(300);
    }
    @include breakpoint(landscape) {
      padding: 0 0;
      height: em-calc(150);
    }
  }
  @include breakpoint(medium only) {
    padding: em-calc(40) 0;
    height: em-calc(250);
  }
  @include breakpoint(large up) {
    padding: em-calc(60) 0;
    height: em-calc(400);
  }
  @include breakpoint(xlarge up) {
    padding: em-calc(70) 0;
    height: em-calc(600);
  }

  #header-img {
    height: 100%;
    background-image: image-url("banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
}

#map { height: 500px; }

.lobitos {
  //background-color: $sun_flower;
}
.exploradores {
  //background-color: $nepheritis;
}
.pioneiros {
  //background-color: $peter_river;
}
.caminheiros {
  //background-color: $alizarin;
}
