<div id="footer" class="row">
	<div class="columns medium-3">
		<p id="links">Contacto: 21
	</div>
	<div class="columns medium-9">
		<p id="legal">CNE - Corpo Nacional de Escutas, Agrupamento 1126 Porto Salvo
	</div>
</div>
