<div id="footer" class="row">
	<div class="columns medium-6">
		<h4>Contactos</h4>
		<h5>Chefe de Agrupamento</h5>
		<p><strong>Nelson Silva</strong><br>96 274 90 42</p>
		<h5>Chefe de Agrupamento Adjunta</h5>
		<p><strong>Elizabete Passos</strong><br>93 27 27 303</p>
	</div>
	<div class="columns medium-6">
		<h5>Agrupamento 1126 Porto Salvo</h5>
		<p><strong>CNE</strong> - Corpo Nacional de Escutas</p>
	</div>
</div>
