<div id="footer" class="row">
	<div class="columns medium-6">
		<h4>Contactos</h4>
		<ul>
			<li><strong>Chefe de Agrupamento:</strong> 96 274 90 42</li>
			<li>93 27 27 303</li>
		</ul>
	</div>
	<div class="columns medium-6">
		<p id="legal">CNE - Corpo Nacional de Escutas, Agrupamento 1126 Porto Salvo</p>
	</div>
</div>
