<div id="footer" class="row">
  <div class="columns medium-6">
    <hr>
    <h4>Contactos</h4>

    <h5>Chefe de Agrupamento</h5>
    <p><strong>Nelson Silva</strong><br>96 274 90 42<br><%= mail_to 'ca.1126@escutismo.pt' %></p>

    <h5>Chefe de Agrupamento Adjunta</h5>
    <p><strong>Elizabete Passos</strong><br>92 562 61 72<br><%= mail_to 'caa.1126@escutismo.pt' %></p>
  </div>

  <div class="columns medium-6">
    <hr>
    <%= link_to fa_icon("facebook-square", class: 'fa-2x fa-fw'), "https://www.facebook.com/EscuteirosPortoSalvo/" %>
    <%= link_to fa_icon("instagram", class: 'fa-2x fa-fw'), "https://www.instagram.com/scoutsportosalvo/" %>

    <h5>Agrupamento 1126 Porto Salvo</h5>
    <p><strong>CNE</strong> - Corpo Nacional de Escutas</p>
  </div>
</div>
