	<!--
<div class="row collapse" data-equalizer>
	<div class="columns medium-3 text-center center-img-parent" data-equalizer-watch>
		<%= link_to image_tag("img03.jpg",size: "1440", class: "center-img"), root_url %>
	</div>
	<div class="columns medium-9 center-img-parent" data-equalizer-watch>
		<%= image_tag("img08.png", size: "1440", class: "center-img") %>
	</div>
	<div id="header-img" class="columns">
		<%= image_tag("banner.png") %>
	</div>
</div>
	-->
