<div id="sidebar">
	<div id="menu">
		<ul class="stack button-group">
			<li class="first"><a class="button expand" href="#">Home</a></li>
			<li><a class="button expand" href="historia.html">História</a></li>
			<li><a class="button expand" href="#I">Iª Secção</a></li>
			<li><a class="button expand" href="#II">IIª Secção</a></li>
			<li><a class="button expand" href="#III">IIIª Secção</a></li>
			<li><a class="button expand" href="#IV">IVª Secção</a></li>
			<li><a class="button expand" href="#fotos">Fotografias</a></li>
			<li><a class="button expand" href="#formação">Formações</a></li>
			<li><a class="button expand" href="#docs">Docs</a></li>
			<li><a class="button expand" href="#contatos">Contatos</a></li>
		</ul>
	</div>
	<!-- end menu -->
</div>
